<Ui xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">
  <Script file="rares_enUS.lua"/>
  <Script file="rares_esES.lua"/>
  <Script file="rares_deDE.lua"/>
  <Script file="rares_ruRU.lua"/>
  <Script file="rares_frFR.lua"/>
  <Script file="rares_zhTW.lua"/>
  <Script file="module.lua"/>
  <Script file="defaults.lua"/>
</Ui>
